
.vision-wrapper{
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Card Styles */
.vision-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    animation: fadeIn 1.5s ease-in-out;
}

.vision-card h2 {
    font-size: 1.5rem;
    margin: 20px 0 10px;
    color: #003366;
}

.vision-card p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Icon Styles */
.vision-icon {
    font-size: 50px;
    padding: 20px;
    animation: bounce 2s infinite;
    border-top: 2px solid #FF5733;
    border-bottom: 3px solid #003366;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
}


.vision-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 20px;
}

.vision-icon.mission{
  color: #FF5733;
}

.vision-icon.vision{
    color: #33B5FF;
}

.vision-icon.motto{
    color: #23944e;
}

.vision-icon.valuesIcon{
    color: #FFC107;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .vision-container {
        flex-direction: column;
        align-items: center;
    }

    .vision-card {
        width: 100%;
        max-width: 400px;
        flex-direction: column;
    }

    .vision-card.reverse{
        flex-flow: column-reverse;
    }
}
